.welcame {
    text-align: center;
    font-size: x-large;
    margin-top: 80px;
}

.signin {
    margin: 80px auto;
    max-width: 400px;
    height: auto;
    margin: 50px 570px 0 570px;
    border-radius: 15px;
    padding: 10px;
    background-color: rgba(128, 128, 128, 0.205);
}

.login {
    margin: 80px auto;
    max-width: 400px;
    height: auto;
    margin: 50px 570px 0 570px;
    border-radius: 15px;
    padding: 10px;
    background-color: rgba(128, 128, 128, 0.205);
}

.input {
    border-radius: 5px;
    border: 1px solid rgba(0, 0, 0, 0.595);
    margin: 2px;
    padding: 5px;
}

h1 {
    text-align: center;
    padding: 10px 0 30px 0;
}

#name {
    margin-left: 40px;
}

#email {
    margin-left: 59px;
}

#password {
    margin-left: 83px;
}

#passwordagain {
    margin-left: 38px;
}

#submit {
    width: 150px;
    height: auto;
    font-size: 20px;
    padding: auto;
    margin: 10px 110px 10px 110px;
}

#namesurname {
    margin-left: 30px;
}

#password_2 {
    margin-left: 73px;
}
